.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__lang {
    display: flex;
    justify-content: space-between;
    border-radius: 14px;
    width: 105px;
    height: 48px;
    background: var(--primary-soft);
    padding: 9px 16px;
}
.header__lang_img{
    width: 20px;
    height: auto;
}

.header__lang_title {
    font-weight: 600;
    font-size: 16px;
    color: var(--primary);
}