.card {
    width: 239px;
    height: 450px;
}

.card__image {
    width: 239px;
    height: 336px;
}

.card__name {
    margin-top: 18px;
    font-weight: 700;
    font-size: 20px;
    color: #11142d;
}

.card__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    color: var(--primary);
}

.card__stat {
    display: flex;
    justify-content: space-between;
}